@model IEnumerable<WebBanHang.Models.InfoOrder>

@{
    ViewData["Title"] = "Danh sách đơn hàng";
}

<style>

    .table-custom {
        width: 100%;
        border-collapse: collapse;
        margin-bottom: 20px;
    }

        .table-custom th, .table-custom td {
            padding: 10px;
            text-align: left;
            border: 1px solid #ddd;
        }

        .table-custom th {
            background-color: #f2f2f2;
        }

        .table-custom tbody tr:hover {
            background-color: #f5f5f5;
        }

    .badge-vnpay {
        background-color: #28a745;
        color: #fff;
    }

    .badge-paypal {
        background-color: #007bff;
        color: #fff;
    }

    .btn-custom {
        background-color: #007bff;
        color: #fff;
        border: none;
        padding: 5px 10px;
        text-decoration: none;
    }

        .btn-custom:hover {
            background-color: #0056b3;
        }
</style>

<div class="container" style="padding-top: 20px">
    <form method="post" action="@Url.Action("FilterData", "Order")" class="d-flex">
        <input style="width: 100%;
            padding: 5px;
            box-sizing: border-box;" type="date" id="filterDate" name="filterDate">

        <button style="background-color: #4caf50;
            color: #fff;
            padding: 5px 20px;
            font-size: 16px;
            border: none;
            border-radius: 3px;
            margin-left: 20px;
            cursor: pointer;" type="submit">
            Lọc
        </button>
    </form>

    <h2>Danh sách đơn hàng</h2>
    <table class="table-custom">
        <thead>
            <tr>
                <th>Phương thức thanh toán</th>
                <th>Tên</th>
                <th>Số điện thoại</th>
                <th>Email</th>
                <th>Tỉnh/thành phố</th>
                <th>Quận/huyện</th>
                <th>Địa chỉ</th>
                <th>Tổng tiền</th>
                <th>Thời gian mua</th>
                <th>Chi tiết</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @if (item.PaymentMethod)
                        {
                            <span class="badge badge-vnpay">VN Pay</span>
                        }
                        else
                        {
                            <span class="badge badge-paypal">Paypal</span>
                        }
                    </td>
                    <td>@Html.DisplayFor(modelItem => item.Name)</td>
                    <td>@Html.DisplayFor(modelItem => item.Phone)</td>
                    <td>@Html.DisplayFor(modelItem => item.Email)</td>
                    <td>@Html.DisplayFor(modelItem => item.City)</td>
                    <td>@Html.DisplayFor(modelItem => item.District)</td>
                    <td>@Html.DisplayFor(modelItem => item.Address)</td>
                    <td>@item.Total.ToString("#,0")₫</td>
                    <td>@item.Date.ToString("H:mm d/M/yyyy")</td>
                    <td>
                        <a class="btn btn-custom" asp-action="Detail" asp-route-id="@item.Id">Chi tiết</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
