@model WebBanHang.Models.Product
@{
    Guid? IdRom = ViewBag.IdRom;
}
<style>
    .back-link {
        padding: 10px;
        color: #515154;
        font-size: 13px;
    }

    .back-link a {
        margin: 0 5px;
        color: #515154;
    }

    .product_info_container {
        display: flex;
        margin: 20px;
    }

    .product_info_container .gallery{
        width: 45%;
    }
    
    .product_info_container .picture{
        background: #F5F5F7;
        border-radius: 8px;
        box-shadow: 0px 0px 15px rgb(0 0 0 / 3%);
        padding: 15px;
    }
    .product_info_container .picture .pic-show {
        width: 100%;
        height: 100%;
        background: white;
    }

    .picture-slide img {
        width: 85px;
        height: 85px;
    }

    .info_container {
        margin: 0 30px;
        flex-grow: 1;
    }

    .name_product_title {
        font-size: 24px;
        color: #1D1D1F;
        font-weight: 700;
        line-height: 36px;
        padding: 0;
        margin: 0;
    }

    .price_product_title {
            color: #0066CC;
    font-size: 24px;
    font-weight: bold;
    }

    .block_quantity {
        display: flex;
        align-items: center;
        margin-bottom: 20px;
    }

    .text_specification {
        margin-right: 10px;
    }

    .block_quantity__number {
        width: 52px;
        height: 46px;
        border: 1px solid #ddd;
        font-size: 18px;
        margin-right: 10px;
        padding: 5px;
    }

    .button_container {
        display: flex;
        justify-content: space-between
    }

    .add_to_cart_button,
    .checkout_button {
        font-size: 20px;
        width: 40%;
        margin-top: 20px;
        padding: 10px;
        cursor: pointer;
        border: none;
        outline: none;
        background-color: #f1425d;
        color: #fff;
        transition: background-color 0.3s;
        display: flex;
        align-items: center;
        justify-content: center;
        color: black;
        text-decoration: none;
    }

    .add_to_cart_button:hover,
    .checkout_button:hover {
        background-color: #d23c57;
        color: black;
    }
</style>
<div class="back-link">
    <div class="container">
        <a asp-action="" asp-controller="Home">Trang chủ</a> > <a asp-action="GetByMenu" asp-controller="Products" asp-route-id="@Model.Menu.Id">@Model.Menu.Name</a> > <a>@Model.Name</a>
    </div>
</div>
<div class="container">
    <form>
        <div class="product_info_container">
            <div class="gallery">
                <div class="picture">
                    <img class="pic-show" src="~/image/Product/@Model.Image" />
                </div>
                <div class="picture-slide d-flex ">
                    <img class="pic-show" src="~/image/Product/@Model.Image" />
                    <img class="pic-show" src="~/image/Product/@Model.Image" />
                    <img class="pic-show" src="~/image/Product/@Model.Image" />
                    <img class="pic-show" src="~/image/Product/@Model.Image" />
                    <img class="pic-show" src="~/image/Product/@Model.Image" />
                </div>
            </div>
            <div class="info_container">
                <h1 class="name_product_title">@Model.Name</h1>
                @if (IdRom == null)
                {
                    <h5 class="price_product_title">@Model.Price.ToString("#,0")₫</h5>
                }
                else
                {
                    var x = Model.Price + Model.DetailRoms.FirstOrDefault(x => x.IdRom == IdRom).Price;
                    <h5 class="price_product_title">@x?.ToString("#,0")₫</h5>
                }
                @foreach(var item in Model.DetailRoms)
                {
                    @if (IdRom != item.IdRomNavigation.Id)
                    {
                        <a asp-action="Details" asp-controller="Products" asp-route-id="@Model.Id" asp-route-IdRom="@item.IdRomNavigation.Id">@item.IdRomNavigation.Capacity</a>
                    }
                    else
                    {
                        <a class="text-danger" asp-action="Details" asp-controller="Products" asp-route-id="@Model.Id" asp-route-IdRom="@item.IdRomNavigation.Id">@item.IdRomNavigation.Capacity</a>
                    }
                   
                }
                <div class="block_quantity">
                    <span class="text_specification">Quantity</span>
                    <div class="block_quantity__chooseBlock">
                        <input class="block_quantity__number" name="quantityNumber" type="number" min="0" value="1" />
                    </div>
                </div>
                <div class="button_container">
                    <a class="add_to_cart_button" onclick="addToCart()">
                        <span>THÊM GIỎ HÀNG</span>
                    </a>
                    <a class="checkout_button" onclick="buyNow()">
                        <span>MUA NGAY</span>
                    </a>
                </div>
            </div>
        </div>
    </form>
</div>
<script>
    function addToCart() {
        var qty = $('.block_quantity__number').val();
        var productId = '@Model.Id';
        $.ajax({
            type: 'GET',
            url: '/OrderDetails/Create',
            data: {
                productId: productId,
                qty: qty
            }
        })
    };
    function buyNow() {
        var qty = $('.block_quantity__number').val();
        var productId = '@Model.Id';
        var price = '@Model.Price';
        $.ajax({
            type: 'GET',
            url: '/Orders/BuyNow',
            data: {
                productId: productId,
                qty: qty,
                price: price
            },
            success: function (response) {
                console.log(qty + productId + price);
                window.location.href = '/Orders/BuyNow?productId=' + productId + '&qty=' + qty + '&price=' + price;
            }
        })
    }
</script>
